---
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/TopBar';
import StoreHeader from '../components/StoreHeader';
import StoreNavigation from '../components/StoreNavigation';
import CartPage from '../components/CartPage';
import StoreFooter from '../components/StoreFooter';
---

<Layout title="Cart - Fresh Market">
  <div class="min-h-screen flex flex-col bg-white">
    <TopBar client:load />
    <StoreHeader client:load />
    <StoreNavigation client:load />
    <CartPage client:load />
    <StoreFooter client:load />
  </div>
</Layout>
