---
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/TopBar';
import StoreHeader from '../components/StoreHeader';
import StoreNavigation from '../components/StoreNavigation';
import CheckoutPage from '../components/CheckoutPage';
import StoreFooter from '../components/StoreFooter';
---

<Layout title="Order Confirmed - Fresh Market">
  <div class="min-h-screen flex flex-col bg-white">
    <TopBar client:load />
    <StoreHeader client:load />
    <StoreNavigation client:load />
    <CheckoutPage client:load />
    <StoreFooter client:load />
  </div>
</Layout>
